[submodule "AzurLaneTools"]
	path = AzurLaneTools
	url = https://github.com/nobbyfix/AzurLaneTools
[submodule "AzurLaneSourceJson"]
	path = AzurLaneSourceJson
	url = https://github.com/nobbyfix/AzurLaneSourceJson
