[submodule "AzurLaneSourceJson"]
	path = AzurLaneSourceJson
	url = https://github.com/Drakomire/AzurLaneSourceJson.git
[submodule "AzurLaneSourceLua"]
	path = AzurLaneSourceLua
	url = https://github.com/Dimbreath/AzurLaneData
